page-quiz {

    .grid{
        border: solid 2px black;
        text-align : center;
    }

    .answerC{
        font-weight: bold;
        background-color: green
    }

    .answerW{
        font-weight: bold;
        background-color: darkred
    }
}
