<!--
  Generated template for the QuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quiz Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-6 class = "grid">
          <h1>{{ title1 }} </h1>
        <ion-card *ngFor="let item of items1.slice(0,5); let i = index">

            <ion-card-content class="card-content">
                {{ item.question }}
            </ion-card-content>

            <div *ngIf="item.correct == 'notanswered'">
            <ion-card-content>
                <div *ngIf="item.fib">
                    <ion-input  type="text" placeholder="Enter your answer here" name="answer" [(ngModel)]="item.response" required></ion-input>
                    <button no-margin ion-button full text-uppercase (click)='checkAnswer(item,item.response)'>ANSWER</button>
                </div>
    
                <div *ngIf="item.fib == 0">
                    <ion-list radio-group required >
                        <ion-item *ngFor = 'let option of item.options'>
                            <ion-label>{{ option }}</ion-label>
                            <ion-radio value=" {{ option }} " (ionSelect) = "checkAnswer(item,option)"></ion-radio>
                        </ion-item>
                    </ion-list>
                </div>
                
              </ion-card-content>
            </div>
            <div *ngIf="item.correct === '1'" >
                <ion-card-content class = "answerC">
                    YESS, you're right !! The correct answer is {{ item.answer }}
                </ion-card-content>
            </div>

            <div *ngIf="item.correct === '0'" >
                <ion-card-content class = "answerW" >
                    OOPS, you got it wrong, the correct answer is {{ item.answer }}
                </ion-card-content>
            </div>


        </ion-card>
      </ion-col>

      <ion-col col-6 class = "grid">
          <h1>{{ title2 }} </h1>
          <ion-card *ngFor="let item of items1.slice(5,10); let i = index">
  
              <ion-card-content class="card-content">
                  {{ item.question }}
              </ion-card-content>
  
              <div *ngIf="item.correct == 'notanswered'">
              <ion-card-content>
                  <div *ngIf="item.fib">
                      <ion-input  type="text" placeholder="Enter your answer here" name="answer" [(ngModel)]="item.response" required></ion-input>
                      <button no-margin ion-button full text-uppercase (click)='checkAnswer(item,item.response)'>ANSWER</button>
                  </div>
      
                  <div *ngIf="item.fib == 0">
                      <ion-list radio-group required >
                          <ion-item *ngFor = 'let option of item.options'>
                              <ion-label>{{ option }}</ion-label>
                              <ion-radio value=" {{ option }} " (ionSelect) = "checkAnswer(item,option)"></ion-radio>
                          </ion-item>
                      </ion-list>
                  </div>
                  
                </ion-card-content>
              </div>
  
              <div *ngIf="item.correct === '1'">
                  <ion-card-content class = "answerC">
                      YESS, you're right !! The correct answer is {{ item.answer }}
                  </ion-card-content>
              </div>
  
              <div *ngIf="item.correct === '0'"  >
                  <ion-card-content class = "answerW" >
                      OOPS, you got it wrong, the correct answer is {{ item.answer }} 
                  </ion-card-content>
              </div>
  

          </ion-card>
        </ion-col>

        <ion-col col-6 class = "grid">
            <h1>{{ title3 }} </h1>
          <ion-card *ngFor="let item of items1.slice(10,15); let i = index">
  
              <ion-card-content class="card-content">
                  {{ item.question }}
              </ion-card-content>
  
              <div *ngIf="item.correct == 'notanswered'">
              <ion-card-content>
                  <div *ngIf="item.fib">
                      <ion-input  type="text" placeholder="Enter your answer here" name="answer" [(ngModel)]="item.response" required></ion-input>
                      <button no-margin ion-button full text-uppercase (click)='checkAnswer(item,item.response)'>ANSWER</button>
                  </div>
      
                  <div *ngIf="item.fib == 0">
                      <ion-list radio-group required >
                          <ion-item *ngFor = 'let option of item.options'>
                              <ion-label>{{ option }}</ion-label>
                              <ion-radio value=" {{ option }} " (ionSelect) = "checkAnswer(item,option)"></ion-radio>
                          </ion-item>
                      </ion-list>
                  </div>
                  
                </ion-card-content>
              </div>
              <div *ngIf="item.correct === '1'" >
                  <ion-card-content class = "answerC">
                      YESS, you're right !! The correct answer is {{ item.answer }} 
                  </ion-card-content>
              </div>
  
              <div *ngIf="item.correct === '0'" >
                  <ion-card-content class = "answerW" >
                      OOPS, you got it wrong, the correct answer is {{ item.answer }} 
                  </ion-card-content>
              </div>
  
  

          </ion-card>
        </ion-col>
  
        <ion-col col-6 class = "grid">
            <h1>{{ title4 }} </h1>
            <ion-card *ngFor="let item of items1.slice(15,20); let i = index">
    
                <ion-card-content class="card-content">
                {{ item.question }}
            </ion-card-content>

            <div *ngIf="item.correct == 'notanswered'">
            <ion-card-content>
                <div *ngIf="item.fib">
                    <ion-input  type="text" placeholder="Enter your answer here" name="answer" [(ngModel)]="item.response" required></ion-input>
                    <button no-margin ion-button full text-uppercase (click)='checkAnswer(item,item.response)'>ANSWER</button>
                </div>
    
                <div *ngIf="item.fib == 0">
                    <ion-list radio-group required >
                        <ion-item *ngFor = 'let option of item.options'>
                            <ion-label>{{ option }}</ion-label>
                            <ion-radio value=" {{ option }} " (ionSelect) = "checkAnswer(item,option)"></ion-radio>
                        </ion-item>
                    </ion-list>
                </div>
                
              </ion-card-content>
            </div>

            <div *ngIf="item.correct === '1'" >
                <ion-card-content class = "answerC">
                    YESS, you're right !! The correct answer is {{ item.answer }}
                </ion-card-content>
            </div>

            <div *ngIf="item.correct === '0'" >
                <ion-card-content class = "answerW" >
                    OOPS, you got it wrong, the correct answer is {{ item.answer }}
                </ion-card-content>
            </div>



            </ion-card>
          </ion-col>
      </ion-row>

  </ion-grid>

  <button ion-button full text-uppercase (click)='continue()'>Try Again (pick another topic)</button>
  <button ion-button full text-uppercase (click)='graph()'>View Results</button>

</ion-content>
